{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    {% set image = url(particle.image) %}

    <!-- some text about yourself -->
    		<div class="bio {{ particle.class|e }}">
          {% if particle.title %}
    			<p class="quoteline">
    				    {{ particle.title }}
    			</p>
          {% endif %}
          {% if particle.text %}
    				    {{ particle.text|raw }}
          {% endif %}
          {% if image %}
          <p class="align-right">
              <img src="{{ url(particle.image) }}" alt="{{ particle.name }}" />
          </p>
          {% endif %}
    		</div>
        <!-- ./some text about yourself -->
{% endblock %}
